{% extends 'base.html.twig' %}

{% block title %}{% trans %}profile.title{% endtrans %} &bullet; {{ global.config.APP_NAME }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{% trans %}profile.title{% endtrans %}</h1>

        {% if succeed is defined %}
            <section class="mb-4 wow fadeIn">
                <div class="card text-white bg-success mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{% trans %}profile.confirm.title{% endtrans %}</h5>
                        <p class="card-text text-white">
                            {{ succeed|trans }}
                        </p>
                    </div>
                </div>
            </section>
        {% else %}
            {% if errors is defined %}
                <section class="mb-4 wow fadeIn" data-wow-delay="0.3s">
                    <div class="card text-white bg-danger mb-3">
                        <div class="card-body">
                            <h5 class="card-title">{% trans %}profile.errors.title{% endtrans %}</h5>
                            <p class="card-text text-white">
                            <ul>
                                {% for value in errors %}
                                    <li>{{ value|trans }}</li>
                                {% endfor %}
                            </ul>
                            </p>
                        </div>
                    </div>
                </section>
            {% endif %}

            <section class="mb-4 wow fadeIn" data-wow-delay="0.3s">

                <form role="form" method="post" action="{{ path('user_profile_submit.lang', global_path_params) }}" enctype="multipart/form-data">
                    <div class="md-form">
                        <input type="text" id="username" class="form-control" value="{{ app.user.username }}" disabled />
                        <label for="username">{% trans %}profile.username{% endtrans %}</label>
                    </div>

                    <div class="md-form">
                        <input type="text" id="names" class="form-control" value="{{ app.user.firstName }} {{ app.user.lastName }}" disabled />
                        <label for="names">{% trans %}profile.fullname{% endtrans %}</label>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">{% trans %}profile.gender{% endtrans %}</label>
                        <div class="col-sm-10">
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" id="sexe1" {% if app.user.gender == 'h' %}checked{% endif %} disabled />
                                <label class="form-check-label" for="sexe1">{% trans %}profile.men{% endtrans %}</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" id="sexe2" {% if app.user.gender == 'f' %}checked{% endif %} disabled />
                                <label class="form-check-label" for="sexe2">{% trans %}profile.women{% endtrans %}</label>
                            </div>
                        </div>
                    </div>

                    <div class="md-form">
                        <input type="text" id="birthday" class="form-control" name="birthday" value="{{ app.user.birthday }}" disabled />
                        <label for="birthday">{% trans %}profile.birthday{% endtrans %}</label>
                    </div>

                    <div class="md-form">
                        <i class="fas fa-envelope prefix"></i>
                        <input type="email" id="inputValidationEx" class="form-control validate" name="email" value="{{ app.user.email }}" />
                        <label for="inputValidationEx" data-error="wrong" data-success="right">{% trans %}profile.email{% endtrans %}</label>
                    </div>

                    <div class="md-form">
                        <i class="fas fa-lock prefix"></i>
                        <input type="password" id="inputValidationEx2" class="form-control validate" name="password" />
                        <label for="inputValidationEx2" data-error="wrong" data-success="right">{% trans %}profile.new_password{% endtrans %}</label>
                    </div>

                    <div class="md-form">
                        <i class="fas fa-lock prefix"></i>
                        <input type="password" id="inputValidationEx3" class="form-control validate" name="password_repeat" />
                        <label for="inputValidationEx3" data-error="wrong" data-success="right">{% trans %}profile.repeat_password{% endtrans %}</label>
                    </div>

                    <span class="h5">{% trans %}profile.avatar{% endtrans %}</span>
                    <div class="md-form form-lg col-lg-3 col-md-6 col-sm-12">
                        <input type="file" name="avatar" class="dropify" data-height="150" {% if app.user.avatar is defined %}data-default-file="{{ asset('avatars/300/' ~ app.user.avatar) }}"{% endif %} />
                    </div>


                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="newsletter" id="newsletter" {% if app.user.newsletterEnabled %}checked{% endif %}/>
                        <label class="form-check-label" for="newsletter">{% trans %}profile.newsletter{% endtrans %}</label>
                    </div>

                    <button type="submit" class="btn btn-outline-primary btn-rounded waves-effect">{% trans %}profile.submit{% endtrans %}</button>
                </form>
            </section>
        {% endif %}
    </div>
{% endblock %}
