{% extends 'base.html.twig' %}

{% block title %}{% trans %}partners.title{% endtrans %} &bullet; {{ global.config.APP_NAME }}{% endblock %}

{% block og_title %}{% trans %}partners.title{% endtrans %} &bullet; {{ global.config.APP_NAME }}{% endblock %}

{% block body %}
    <div class="container">
        {% if partners|length == 0 %}
            <div class="card text-white bg-warning">
                <div class="card-body">
                    <h5 class="card-title">{% trans %}partners.title{% endtrans %}</h5>
                    <p class="card-text text-white">
                        {% trans %}partners.no_content{% endtrans %}
                    </p>
                </div>
            </div>
        {% else %}
            <section class="mb-4 wow fadeIn" data-wow-delay="0.3s">
                <h1><i class="fas fa-globe"></i> {% trans %}partners.title{% endtrans %}</h1>

                <div class="row">
                    {% for partner in partners %}
                        <div class="col-md-2 col-sm-4 m-2">
                            <a href="{{ partner.url }}" target="_blank">
                                <img alt="{{ partner.name }}" src="{{ asset('partners/250/' ~ partner.image) }}" class="img-fluid z-depth-1 max-height-150" />
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </section>
        {% endif %}
    </div>
{% endblock %}
