{% extends 'admin/base.html.twig' %}

{% block title %}{% trans %}admin.partners.create.title{% endtrans %} &bullet; {{ global.config.APP_NAME }}{% endblock %}
{% block admin_title %}{% trans %}admin.partners.create.title{% endtrans %}{% endblock %}

{% block admin_body %}
    {% if succeed is defined %}
        <div class="card text-white bg-success mb-3">
            <div class="card-body">
                <h5 class="card-title">{% trans %}admin.partners.create.confirm.title{% endtrans %}</h5>
                <p class="card-text text-white">
                    {{ succeed|trans }}
                </p>
            </div>
        </div>
    {% else %}
        {% if errors is defined %}
        <div class="card text-white bg-danger mb-3">
            <div class="card-body">
                <h5 class="card-title">{% trans %}admin.partners.create.error.title{% endtrans %}</h5>
                <p class="card-text text-white">
                    <ul>
                        {% for error in errors %}
                            <li>{{ error|trans }}</li>
                        {% endfor %}
                    </ul>
                </p>
            </div>
        </div>
        {% endif %}

        <form method="post" role='form' enctype="multipart/form-data">
            <div class="md-form form-lg">
                <input type="text" id="name" name="name" class="form-control form-control-lg" {% if name is defined %}value="{{ name }}"{% endif %} />
                <label for="name">{% trans %}admin.partners.create.name{% endtrans %}</label>
            </div>

            <div class="md-form form-lg">
                <input type="text" id="url" name="url" class="form-control form-control-lg" {% if url is defined %}value="{{ url }}"{% endif %} />
                <label for="url">{% trans %}admin.partners.create.url{% endtrans %}</label>
            </div>

            <span class="h5">{% trans %}admin.partners.create.image{% endtrans %}</span>
            <div class="md-form form-lg col-lg-3 col-md-6 col-sm-12">
                <input type="file" name="image" class="dropify" data-height="150" {% if image is defined %}data-default-file="{{ asset('partners/250/' ~ image) }}"{% endif %} />
            </div>

            <button type="submit" class="btn btn-primary">{% trans %}admin.partners.create.submit{% endtrans %}</button>
        </form>
    {% endif %}
    <p class="text-right">
        <a href="{{ path('admin_partners_list.lang', global_path_params) }}" class="btn btn-primary"><i class="fas fa-arrow-left"></i> {% trans %}admin.partners.create.back{% endtrans %}</a>
    </p>
{% endblock %}